.tanah {
  fill: #84716B;
}

.kolam {
  fill: #CCE7D4;
  transition: 0.3s;
  stroke: #BDBFC1;
  stroke-width: 0px;
}

.kolam:hover {
  fill: #b9ecc8;
  stroke-width: 12px;
}

.kolam.anomaly {
  fill: #e0c4bf;
  animation: colorChange 1s infinite;
}

.kolam.anomaly:hover {
  fill: #e6816f;
  animation: none;
}

@keyframes colorChange {
  0% {
    fill: #e0c4bf;
  }
  50% {
    fill: #e6816f;
  }
  100% {
    fill: #e0c4bf;
  }
}
